:root {
    --main-color: #212121;
    --blue-color: #2196F3;
    --white-color: #FFFFFF;
    --grey-color: #757575;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
body {
    font-family: var(--main-font);
    
    
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
/* dodac tu cos */
 .list {
    list-style: none;
}
/* dodac tu cos */
.link {
    text-decoration: none;
}
img {
    display: block;
}
.container {
    max-width: 1200px;
    padding: 0;
    align-items: center;
    margin: 0 auto;
}
.section {
    padding-bottom: 94px;
    width: auto
}
/* HEADER (webstudio+portfolio)------- */

.header {
    border: 1px solid #ECECEC;
}
.header .container {
    width: 1158px;
    display: flex;
    align-items: center;
    /* padding: 25px 227px 25px 215px; */
    /* padding: 25px 14.18% 25px 13.43%; */
    padding: 25px 0 25px 0;
    
}
.logo-up {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-color);
    margin-right: 93px;
    /* margin-left: 13.43%; */
    
}
.logo-color {
    color: var(--blue-color);
}
.nav {
    
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list-item:not(:last-child) {
    margin-right: 46px;
}
.nav-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
}
.email-tel{
    list-style: none;
    display: flex;
    margin-left: auto;
    /* margin-right: 14.18%; */
    
}
.email-tel-item:not(:last-child) {
    margin-right: 50px;
}
.email-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-color);
    display: flex;
    align-items: center;
    fill: var(--grey-color);
}
.envelope,
.phone {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-tel-link:hover,
.email-tel-link:focus,
.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--blue-color);
    fill: var(--blue-color);
}
.email-tel-link,
.nav-list-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


/* END OF HEADER (webstudio+portfolio)------- */

/* ---HEADER |(STUDIO) */
.active-parent-agencja {
    position: relative;
}
.active-agencja {
    color: var(--blue-color);
}
.active-agencja::after {
    content: '';
    width: 53px;
    height: 4px;
    background:var(--blue-color);
    border-radius: 2px;
    position: absolute;
    top: 47px;
    left: 0;
}
/* ---END OF HEADER (STUDIO) */

/* MAIN (webstudio)-------------------------- */

.order-btn-sec {
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url("../images/theme.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2F303A;
    padding-bottom: 200px;
    padding-top: 200px;

}
.order-btn-sec .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.main-title-container {
    
    margin-bottom: 30px;
    max-width: 696px;
    height: 120px;
    
    
}
.main-title {
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    /* text-transform: uppercase; */
    color: #FFFFFF;
    
}
.order-btn {
    width: 200px;
    height: 50px;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    margin: 0 auto;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn:hover,
.order-btn:focus {
    background-color: #F5F4FA;
    color: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.lorem {
    padding-top: 94px;
}
.lorem .container {
    display: flex;
    justify-content: center;
}
.lorem-list {
    list-style: none;
    display: flex;
}
.lorem-list-item {
    max-width: 270px;
}
.lorem-svg-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    min-width: 270px;
    min-height: 120px;
    border-radius: 4px;
    border: var(--white-color) solid;
    margin-bottom: 30px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lorem-svg-card:hover,
.lorem-svg-card:focus {
    border: var(--blue-color) solid;
}
.lorem-list-item:not(:last-child) {
    margin-right: 30px;
}
.lorem-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
}
.lorem-list-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}
.about-us .container {
    
}
.about-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    /* text-align: center; */
    letter-spacing: 0.03em;
    
}
.about-list {
    display: flex;
    justify-content: center;
}
.about-list-item:not(:last-child) {
    margin-right: 30px;
}
.about-list-item {
    position: relative;
}
.about-p {
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-left: 94px;
    width: 370px;
    height: 70px;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);;
}
.staff {
    background-color: #F5F4FA;
    padding: 0;
}
.staff .container {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.staff-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.staff-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.staff-list {
    display: flex;
    justify-content: center;
}
.staff-list-item:not(:last-child) {
    margin-right: 30px;
}
.staff-list-card{
    margin: 0;
    padding-bottom: 30px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.staff-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    margin-top: 30px;
}
.staff-list-desrip {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--grey-color);
    margin-top: 10px;
}
.social-link-list{
    display: flex;
    margin-top: 16px;
}
.social-link-item:not(:last-child) {
    margin-right: 10px;
}
.social-link {
    padding: 12px;
    background-color: var(--white-color);
    border-radius: 50%;
    display: flex;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: var(--blue-color);
    fill: var(--white-color);
}
.customers {
    padding-top: 94px;
}
.customer-title-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.customer-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.customer-list {
    display: flex;
    justify-content: space-between;
}
.customer-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    min-height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-list-item:hover,
.customer-list-item:focus {
    border-color: var(--blue-color);
    fill: var(--blue-color);
    cursor: pointer;
}

/* END OF MAIN (webstudio)---------------------- */

/* FOOTER (webstudio+portfolio)---------- */

.footer {
    background-color: #2F303A;
}
.footer .container {
    width: 1200px;
    padding: 60px 0 60px 0;
    display: flex;
    align-items: flex-start;
}
.logo-down {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    text-decoration: none;
    
}
.logo-color-down {
    color: var(--white-color);
}
.address {
    margin-top: 20px;
}
.address-list {
    
}
.address-list-item:not(:last-child) {
    margin-bottom: 9px;
}
.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-color);
}
.address-list-mail,
.address-list-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.adr-hover {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adr-hover:hover,
.adr-hover:focus {
    color: var(--blue-color);
}
.footer-social-cont {
    padding-top: 12px;
    margin-left: 70px;
}
.footer-social-title {
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
.footer-social-list {
    display: flex;
    margin-top: 20px;
}
.footer-social-link-item:not(:last-child) {
    margin-right: 10px;
}
.footer-social-link {
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    display: flex;
    fill: var(--white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--blue-color);
    
}

/* END OF FOOTER (webstudio+portfolio)------- */

/* HEADER (portfolio)------------------------- */

.active-page-color {
    color: var(--blue-color);
    
}
.active-parent-portfolio {
    position: relative;
}
.active-page-color::after {
    content: '';
    width: 58px;
    height: 4px;
    background:var(--blue-color);
    border-radius: 2px;
    position: absolute;
    top: 47px;
    left: -3px;
}

/* END OF HEADER (portfolio)------------------------- */

/* MAIN (portfolio)------------------------------- */

.btm-section .container {
    padding-top: 94px;
}
.btm-section-list {
    display: flex;
    justify-content: center;
}
.navi-btm {
    width: auto;
    height: 38px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0em;/* dodaem do wyglądu */
    font-weight: 550;/* dodaem do wyglądu */
    font-size: 16px;
    line-height: 1.62;
    /* text-align: center; */
    letter-spacing: 0.03em;
    padding: 6px 22px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btm-section-list-item:not(:last-child) {
    margin-right: 8px;
}
.navi-btm:hover,
.navi-btm:focus {
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--white-color);
    cursor: pointer;
}
.pictures-sec-list-card {
    position: relative;
    
}
.animation-div {
    position: absolute;
    bottom: 109px;
    width: 370px;
    height: 293 px;
    overflow: hidden;
}
.animation {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 49px 34px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pictures-sec-list-item:hover .animation {
    transform: translateY(0);
    
}
.pictures-sec .container {
    padding-top: 50px;
    padding-bottom: 64px;
}
.pictures-sec-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.pictures-sec-list-item {
    margin: 0 15px 30px;
    flex-basis: calc(100% / 4 - 15px);
}
.pictures-sec-list-card {
    width: 370px;
    height: 404px;
    background-color: var(--white-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    margin: 0;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pictures-sec-list-card:hover,
.pictures-sec-list-card:focus {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.pictures-sec-list-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-left: 24px;
}
.pictures-sec-list-desrip {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--grey-color);
    margin-top: 4px;
    margin-left: 24px;
}

/* END OF MAIN (portfolio)-------------------------- */

/* -----BACKDROP---- */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--white-color);
}
.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* -----END OF BACKDROP---- */