:root {
    --main-color: #212121;
    --blue-color: #2196F3;
    --white-color: #FFFFFF;
    --grey-color: #757575;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
body {
    font-family: var(--main-font);
    
}

/* HEADER (webstudio+portfolio)------- */

.logo-up {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-color);
}
.logo-color {
    color: var(--blue-color);
}
.nav-list {
    list-style: none;
}
.nav-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
}
.email-tel{
    list-style: none;
}
.email-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-color);
}
.email-tel-link:hover,
.email-tel-link:focus,
.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--blue-color);
}

/* END OF HEADER (webstudio+portfolio)------- */

/* MAIN (webstudio)-------------------------- */

.order-btn-sec {
    background-color: #2F303A;
}
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    /* text-transform: uppercase; */
    color: #FFFFFF;
}
.order-btn {
    width: 200px;
    height: 50px;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
}
.lorem-list {
    list-style: none;
}
.lorem-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.lorem-list-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}
.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.about-list {
    list-style: none;
}
.staff-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.staff-list {
    list-style: none;
}
.staff-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.staff-list-desrip {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

/* END OF MAIN (webstudio)---------------------- */

/* FOOTER (webstudio+portfolio)---------- */

.footer {
    background-color: #2F303A;
}
.logo-down {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    text-decoration: none;
}
.logo-color-down {
    color: var(--white-color);
}
.address-list {
    list-style: none;
}
.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-color);
}
.address-list-mail,
.address-list-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address-list-phone{
    text-decoration: none;
}
.adr-hover:hover,
.adr-hover:focus {
    color: var(--blue-color);
}

/* END OF FOOTER (webstudio+portfolio)------- */

/* HEADER (portfolio)------------------------- */

.active-page-color {
    color: var(--blue-color);
}

/* END OF HEADER (portfolio)------------------------- */

/* MAIN (portfolio)------------------------------- */

.btm-section-list {
    list-style: none;
}
.navi-btm {
    width: auto;
    height: 38px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0em;/* dodaem do wyglądu */
    font-weight: 550;/* dodaem do wyglądu */
    font-size: 16px;
    line-height: 1.62;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.navi-btm:hover,
.navi-btm:focus {
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--white-color);
    cursor: pointer;
}
.pictures-sec-list {
    list-style: none;
}
.pictures-sec-list-card {
    width: 370px;
    height: 404px;
    background-color: var(--white-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.pictures-sec-list-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.pictures-sec-list-desrip {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

/* END OF MAIN (portfolio)-------------------------- */