:root {
    --main-color: #212121;
    --blue-color: #2196F3;
    --white-color: #FFFFFF;
    --grey-color: #757575;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
body {
    font-family: var(--main-font);
    
    
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
/* dodac tu cos */
 .list {
    list-style: none;
}
/* dodac tu cos */
.link {
    text-decoration: none;
}
img {
    display: block;
}
.container {
    max-width: 1600px;
    padding: 0;
    align-items: center;
    margin: 0 auto;
}
.section {
    padding-bottom: 94px;
    width: auto
}
/* HEADER (webstudio+portfolio)------- */

.header .container {
    width: 1158px;
    display: flex;
    align-items: center;
    /* padding: 25px 227px 25px 215px; */
    /* padding: 25px 14.18% 25px 13.43%; */
    padding: 25px 0 25px 0;
    border: 1px solid #ECECEC;
}
.logo-up {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-color);
    margin-right: 93px;
    /* margin-left: 13.43%; */
    
}
.logo-color {
    color: var(--blue-color);
}
.nav {
    
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list-item:not(:last-child) {
    margin-right: 46px;
}
.nav-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
}
.active-agencja {
    color: var(--blue-color);
}
.email-tel{
    list-style: none;
    display: flex;
    margin-left: auto;
    /* margin-right: 14.18%; */
    
}
.email-tel-item:not(:last-child) {
    margin-right: 50px;
}
.email-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--grey-color);
}
.email-tel-link:hover,
.email-tel-link:focus,
.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--blue-color);
}

/* END OF HEADER (webstudio+portfolio)------- */

/* MAIN (webstudio)-------------------------- */

.order-btn-sec .container {
    background-color: #2F303A;
    height: 600px;
    
}
.main-title-container {
    
    margin: 0 auto 30px;
    width: 696px;
    display: flex;
    
}
.main-title {
    margin-top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    /* text-transform: uppercase; */
    color: #FFFFFF;
    
}
.order-btn {
    width: 200px;
    height: 50px;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    margin: 0 auto;
    
}
.lorem .container {
    display: flex;
    justify-content: center;
}
.lorem-list {
    list-style: none;
    display: flex;

}
.lorem-list-item {
    max-width: 270px;
}
.lorem-list-item:not(:last-child) {
    margin-right: 30px;
}
.lorem-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
}
.lorem-list-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}
.about-us .container {
    
}
.about-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    /* text-align: center; */
    letter-spacing: 0.03em;
    
}
.about-list {
    display: flex;
    justify-content: center;
}
.about-list-item:not(:last-child) {
    margin-right: 30px;
}
.staff {
    background-color: #F5F4FA;
    padding: 0;
}
.staff .container {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.staff-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.staff-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.staff-list {
    display: flex;
    justify-content: center;
}
.staff-list-item:not(:last-child) {
    margin-right: 30px;
}
.staff-list-card{
    margin: 0;
    padding-bottom: 30px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.staff-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    margin-top: 30px;
}
.staff-list-desrip {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--grey-color);
    margin-top: 10px;
}

/* END OF MAIN (webstudio)---------------------- */

/* FOOTER (webstudio+portfolio)---------- */

.footer {
    background-color: #2F303A;
}
.footer .container {
    width: 1158px;
    padding: 60px 0 60px 0;
    
}
.logo-down {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--blue-color);
    text-decoration: none;
    
}
.logo-color-down {
    color: var(--white-color);
}
.address {
    margin-top: 20px;
}
.address-list {
    
}
.address-list-item:not(:last-child) {
    margin-bottom: 9px;
}
.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-color);
}
.address-list-mail,
.address-list-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.adr-hover:hover,
.adr-hover:focus {
    color: var(--blue-color);
}

/* END OF FOOTER (webstudio+portfolio)------- */

/* HEADER (portfolio)------------------------- */

.active-page-color {
    color: var(--blue-color);
}

/* END OF HEADER (portfolio)------------------------- */

/* MAIN (portfolio)------------------------------- */

.btm-section .container {
    padding-top: 94px;
}
.btm-section-list {
    display: flex;
    justify-content: center;
}
.navi-btm {
    width: auto;
    height: 38px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0em;/* dodaem do wyglądu */
    font-weight: 550;/* dodaem do wyglądu */
    font-size: 16px;
    line-height: 1.62;
    /* text-align: center; */
    letter-spacing: 0.03em;
    padding: 6px 22px;
}
.btm-section-list-item:not(:last-child) {
    margin-right: 8px;
}
.navi-btm:hover,
.navi-btm:focus {
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--white-color);
    cursor: pointer;
}
.pictures-sec .container {
    padding-top: 50px;
    padding-bottom: 64px;
}
.pictures-sec-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.pictures-sec-list-item {
    margin: 0 15px 30px;
    flex-basis: calc(100% / 4 - 15px);
}
.pictures-sec-list-card {
    width: 370px;
    height: 404px;
    background-color: var(--white-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    margin: 0;
    
}
.pictures-sec-list-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-left: 24px;
}
.pictures-sec-list-desrip {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--grey-color);
    margin-top: 4px;
    margin-left: 24px;
}

/* END OF MAIN (portfolio)-------------------------- */