.about-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.about-list {
    display: flex;
    justify-content: center;
}

.about-list-item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}