.about__title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.work-illustration {
    display: flex;
    justify-content: center;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

    