.customers {
    padding-top: 94px;

    &__title-container {
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }
}


.logotypes {
    display: flex;
    justify-content: space-between;
}