.customers {
    padding-top: 94px;
}
.customer-title-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.customer-list {
    display: flex;
    justify-content: space-between;
}