.lorem {
    padding-top: 94px;

    &__container {
        display: flex;
        justify-content: center;
    }
}
.lorem__list {
    display: flex;
}
.lorem__item {
    max-width: 270px;
    
    &:not(:last-child) {
        margin-right: 30px;
    }

    &-undertitle {
        margin-bottom: 20px;
    }
}

.icon-box {
    margin-bottom: 30px;
}


