
$bgColor: #F5F4FA;

.staff {
    background-color: $bgColor;
    padding: 0;

    &__container {
        background-color: $bgColor;
        padding-top: 94px;
        padding-bottom: 94px;
    }
}   
.staff__title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.employees {
    display: flex;
    justify-content: center;

    &__item:not(:last-child) {
        margin-right: 30px;
    }
}
    