.about-p {
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-left: 94px;
    width: 370px;
    height: 70px;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
}