.active-page-color {
    color: var(--blue-color);

    &::after {
        content: '';
        width: 58px;
        height: 4px;
        background:var(--blue-color);
        border-radius: 2px;
        position: absolute;
        top: 47px;
        left: -3px;
    }
}
.active-parent-portfolio {
    position: relative;
}
